.profile {
    text-align: center;
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    color: #333;
    min-width: 100%;
    background-color: #f5fffa;
    opacity: 0;
    transform: translateY(-100px);
    animation: slideInFromTop 0.9s ease-out forwards;
    min-height: calc(100vh - 80px);
    padding-bottom: 20px; /* Add padding at the bottom */
  }
  
  .form-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px; /* Space above the form */
    margin-bottom: 20px; /* Space below the form */
  
  }
  
  .form-container input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .form-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #8e24aa;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #7b1fa2;
  }
  
  .note {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    text-align: center;
  }

  
  
  /* Slide-in animation */
  @keyframes slideInFromTop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .cover-photo {
    background-color: #e0f7fa;
    height: 180px;
  }
  
  .profile-photo {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
  }
  
  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-header h1 {
    font-size: 24px;
    margin: 10px 0 5px;
  }
  
  .profile-header .emoji {
    font-size: 24px;
    color: aqua;
  }
  
  .profile-header p {
    font-size: 14px;
    color: #555;
  }
  
  .bio {
    font-size: 14px;
    margin: 5px 0 10px;
  }
  
  .follow-button {
    background-color: #e91e63;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .follow-button a {
    text-decoration: none;
    color: white;
  }
  
  .follow-button:hover {
    background-color: #d81b60;
  }
  
  .profile-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #666;
    margin: 15px 0;
  }
  
  .profile-links .icon {
    font-size: 18px;
  }
  
  .footer-text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  /* Media query for larger screens */
  @media (min-width: 768px) {
    .profile {
      max-width: 80%;
      font-size: 1.2em;
    }
  
    .profile-header h1 {
      font-size: 32px;
    }
  
    .profile-header p,
    .bio,
    .footer-text {
      font-size: 18px;
    }
  
    .follow-button {
      font-size: 16px;
      padding: 10px 20px;
    }
  
    .profile-links {
      font-size: 18px;
    }
  
    .profile-links .icon {
      font-size: 20px;
    }
  }
  